@{ ViewData["Title"] = "Home Page"; }

<header id="home">
    <h1>Tony Greenhalgh</h1>

    <img src="~/images/tony sumi base.png" alt="Profile picture">
    <h2>Veteran planning manager and aspiring developer.</h2>
    <hr>
</header>

<div class="summary" id="summary">


    <h2>Profile Summary</h2>
    <hr>

    <p>
        A proven planning manager with expertise acquired from a spectrum of logistical companies.
    </p>
    <p>
        My key abilities are based on being a time served warehouse and transport planner, experience has taught me that a structured
        detail driven approach to problem solving often enables optimal results.
    </p>
    <p>
        I have a deep rooted conviction that people matter, my responsibility is to develop the capabilities of colleagues consequently
        motivating the performance of individuals.
    </p>
    <p>
        Award winning software developer gives me the ability to produce my own tools, enabling advancement in not only the planning
        processes but all operational functions.
    </p>
    <p>
        In short, I'm reliable, hardworking and have a genuine passion for planning. Ready and waiting for the next challenge.
    </p>

</div>


<div class="proficiencies" id="proficiencies">
    <hr/>
    <h2>Proficiencies</h2>
    <hr/>
    <p>Planning</p>
    <div class="bar" style="width:99%"></div>
<p>Paragon Modeling</p>
<div class="bar" style="width:99%"></div>
<p>Microsoft Excel</p>
<div class="bar" style="width:95%"></div>
<p>C#</p>
<div class="bar" style="width:90%"></div>
<p>HTML 5</p>
<div class="bar" style="width:85%"></div>
<br>
</div>

<div class="experience">
    <div class="block">
        <span>2</span><br> IT Innovation Awards
    </div>
    <div class="block">
        <span>23+</span><br> Continuous Improvement Projects
    </div>
    <div class="block">
        <span>18+</span><br> Years Planning Experience
    </div>
    <div class="block">
        <span>15+</span><br> Optimised Delivery Reschedules
    </div>
    <br/>
</div>



<div class="testimonials" id="testimonials">
    <hr/>
    <h2>Testimonials</h2>
    <hr>
    <div class="container">
        <img src="../images/gavin.png" alt="Avatar">
        <p class="bold">Gavin Payne - Planning Manager, Enfield.</p>
        <p>“Tony was crucial in designing and implementing many new planning tools and processes across our network".</p>
    </div>

    <hr>

    <div class="container">
        <img src="../images/murray.png" alt="Avatar">
        <p class="bold">Murray Rolfe - Depot Manager, Warrington.</p>
        <p>"When we implement new technology we turn to Tony, FIRST!"</p>
    </div>

    <hr>

    <div class="container">
        <img src="../images/stephen.jpg" alt="Avatar">
        <p class="bold">Stephen Harding - Depot Planning Manager, Warrington.</p>
        <p>"I would work for Tony again, he helped me develop into the Planning Manager Role."</p>
    </div>

    <hr>

    <div class="container">
        <img src="../images/robin.jpg" alt="Avatar">
        <p class="bold">Robin Andrews - Planner, Swindon.</p>
        <p>"Tony was and is as sharp as a knife when it comes to designing our import sheets and look ups, which he proved time
            and again in our planning tools saving us A vast amount of time in routing our calls for daily deliveries".</p>
    </div>

    <hr>

    <div class="container">
        <img src="../images/manager.jpg" alt="Avatar">
        <p class="bold">Peter Williams - Senior Planner, Widnes.</p>
        <p>"Tony’s honesty, integrity to both customer’s and colleagues alike is admirable ".</p>
    </div>

    <hr>

</div>

<div class="history" id="history">
    <h2>History</h2>
    <hr>

    <!-- Suttons-->
    <h3>Sutton’s Group Planning Manager December 2015 – Present</h3>
    <p>Motivating and managing my team of planners to exceeds customer expectations.</p>
    <p>Creation of bespoke planning and forecasting tools which streamlined processes and increased productivity.</p>
    <p>Responsible for managing customers stock levels and factory silo levels in line with adherence.</p>
    <p>Modelling solutions for new and existing customers enabling optimisation of network resources.</p>
    <p>Improved resource utilisation by 1.4% this enabled a reduction of 17 units. </p>
    <hr>

    <!-- Iceland National Planning Manager-->
    <h3>DHL National Planning and Projects Manager June 2011 – December 2015</h3>
    <p>Responsibility for setting the direction and overall strategy of our planning teams.</p>
    <p>Produce Paragon reschedules with key goals of reduced delivery windows, depot capacity and stock availability.</p>
    <p>Periodic reassessments of optimal service boundaries. </p>
    <p>Project Management - Double deck Trailers, Banana shrouds, etc.</p>
    <p>Collaboration of operations across DHL, optimizing the network and reduce costs.</p>
    <p>Onsite training and 24 hour support for planning teams and systems.</p>
    <hr>

    <!-- Iceland Planning Manager-->
    <h3>DHL Depot Planning Manager Jan 2008 - June 2011</h3>
    <p>Created bespoke warehouse tool, enabling our mangers to see the bigger picture. </p>
    <p>Consistent improvements in statistics- CPL 980 to 1120, CPDH 127 to 142 and CPWH 88 to 101.</p>
    <p>Planned successful seasonal peaks when average volumes could increase by 65%. </p>
    <p>Active member of the senior team, influencing culture with improvements in our EOS surveys.</p>
    <hr>

    <!-- Wincanton Senior Planner-->
    <h3>Wincanton Senior Planner 2007 - 2008</h3>
    <p>Motivating and managing a team of planners and supporting staff </p>
    <p>Surpassed legacy KPI’s by increasing trailer fill and improving geographical routing. </p>
    <p>Day to day communication with Regional directors and Senior Somerfield personnel</p>
    <hr>

    <!-- DHL Transport Planner-->
    <h3>DHL Transport Planner 2004 - 2007</h3>
    <p>Responsible for planning 300+ stores deliveries with a geographic radius of 250 miles across 3 temperature bands. </p>
    <p>Forecasting and booking of Agency drivers to meet the needs of the business.</p>
    <p>Created support tools i.e. depart and return, calculate driver day and effective trailer planning </p>
    <hr>

    <!-- DHL Backhaul-->
    <h3>Backhaul and Statistics Clerk 2003 to 2004</h3>
    <p>Responsible for maintenance of bespoken in-house software system called DATA.</p>
    <p>Assisted in 24/7 hour IT Systems call outs.</p>
    <p>Completed Start-up of new backhaul system called Primary.</p>
    <hr>
</div>

<div class="awards" id="awards">
    <h2>Awards</h2>
    <hr>
    <img src="../images/retailweekaward.jpg">
    <p>Logistics Manager Innovation Award 2012.</p>

    <hr>
    <img src="../images/dhl.png">
    <p>DHL CEO Innovation Award 2011.</p>
    <hr>
</div>

<br>

<!-- Education Section -->

<div class="education" id="education">
    <h2>Education</h2>
    <hr>

    <!-- John Rigby-->
    <h3>St John Rigby Six Form College 1991-1993</h3>
    <p>A-level Computer Science: C </p>
    <p>University of Liverpool - Study of Aqueous Corrosion: Distinction </p>
    <p>GCSE Physics: B</p>
    <p>RSA in Information Technology stage 1: Distinction </p>
    <p>RSA in Information Technology stage 2: Distinction. </p>
    <hr>

    <!-- St Thomas More-->
    <h3 class="w3-padding-16 w3-text-light-grey">St Thomas More R.C High School 1986-1991</h3>
    <p>GCSE Science Dual Award: A, A </p>
    <p>GCSE English : C </p>
    <p>GCSE Geography: C </p>
    <p>GCSE Art and Design: C</p>
    <p>GCSE Information Technology: C </p>
    <p>GCSE Mathematics: C</p>
    <hr>

</div>



<!-- Contact Section -->
<div id="contact">
    <h2>Contact Details</h2>
    <hr>
    <p><i> 15 Wheatsheaf Walk, Standish, Wigan, Uk, WN6 0RH</i></p>
    <p><i> Home: 01257 422861</i></p>
    <p><i> Mobile: 07739 748952</i></p>
    <p><i> Email: tonybamboo@gmail.com</i></p>
    <hr/>
</div>

</div>